<.simple_form for={} action={~p"/bookings"}>
  <.input name="pickup_address" value="abc" field={:pickup_address} type="text" label="Pickup Address" required={true} />
  <.input name="dropoff_address" value="abc" field={:dropoff_address} type="text" label="Dropoff Address" required={true} />
  
  <:actions>
    <.button>Submit Booking</.button>
  </:actions>
</.simple_form>
